/* nav bar CSS here */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #f7f7f7;
}
nav:hover{
    background-color: white;
}
nav>.logo{
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav>.logo:hover{
    cursor: pointer;
}
nav>.links{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin:13px 0px 2px 0px;
    padding: 20px;
}
.links>.menu{
    display: inline-block;
    position: relative;
}
.links>.menu>a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 15px;
    border-radius: 5px;
}
.links>.menu:hover .menu_links{
   background-color: rgb(28, 28, 29);
   color: white;
   transition: 1s;
}
.submenu {
    display: none;
    position: absolute;
    background-color: rgb(28, 28, 29);
    z-index: 1;
    border-radius:0px 5px 5px 5px;
    padding:0px 5px 5px 5px;
  }
.submenu a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 0px 2px 5px;
    text-align:justify;
}


.menu:hover .submenu {display: block;}
.submenu a:hover{ 
    background-color: rgb(28, 28, 29);
    color: rgb(131, 129, 238);
    transition: 1s;
}
nav>.icons{
    width: 13%;
    display: flex;
    justify-content: space-around;
    margin-right: 1px;
    
}
nav>.icons>div{
    
    width: 30px;
    height: 30px;
}
.icons>div>i{
  font-size:x-large;
}
nav>.icons>div>i:hover{
    cursor: pointer;
}

/* top image part */
.image{
    background-image: url('https://assets.burberry.com/is/image/Burberryltd/MyAccount.jpg?$BBY_V2_BASIC$&wid=1349&hei=270');
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-top: 20px;
}
.image>h1{
    padding-top:65px;
}

/* signin and register divs */
#cont{
    margin-top: 40px;
    display: flex;
    justify-content:space-around;

}
#cont>#signin{
    background-color: #f7f7f7;
    width: 45%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 10px 30px 40px;
}
#cont>#register{
    background-color: #f7f7f7;
    width: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 10px 20px 40px;
}
#signin>h3{
    letter-spacing: 1.5px;
}
#register>h3{
    letter-spacing: 1.5px;
}
#cont>#signin input{
    width: 92%;
    padding: 13px;
}
#cont>#register input{
    width: 92%;
    padding: 13px;
}
#country{
    width: 97%;
    padding: 13px;
}
#title{
    width: 97%;
    padding: 13px;
}
#cont>#signin #signinBtn{
    width:20%;
    display: block;
    margin: auto;
    font-size: medium;
    border-radius: 2px;
}
#cont>#register #registerBtn{
    width:20%;
    display: block;
    margin: auto;
    font-size:medium;
    border-radius: 2px;
}
#cont>#signin #signinBtn:hover{
    background-color: rgb(28, 28, 29);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
#cont>#register #registerBtn:hover{
    background-color: rgb(28, 28, 29);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
/* Bottom CSS here */
#bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
#bottom>div{
    width: 33%;
    padding: 10px 0px 10px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#bottom>div h4:hover{
    color: rgb(69, 71, 241);
}